<h1>Details</h1>
<div class   = 'boxed-div'>
<h2>{{name}} <img {{bind-attr src = 'image'}}></h2>
<p> Level: {{level}}/{{maxLevel}} XP: {{xp}} Next Level:{{nextLevelXP}}</p>
<ul class = 'list-unstyled'>
  <li class='row'>
    <h3>Character Stats<h3>
  </li>
</li class ='row'>
    <div class='icon-div col-md-1 col-md-offset-1'> <img src='assets/icons/hp.png'></image> {{maxHp}} </div> 
    <div class='icon-div col-md-1 col-md-offset-1'> <img src='assets/icons/attack.png'></image> {{attack}} </div> 
    <div class='icon-div col-md-1 col-md-offset-1'> <img src='assets/icons/defense.png'></image> {{defense}} </div> 
  </li>
  <li class='row'>
    <div class = 'col-md-12'>
    <h3>Weapon Stats<h3>
    <!-- <div class='icon-div col-md-1 col-md-offset-1'> <img src='assets/icons/hp.png'></image> {{getWeapon.attackDamage}} </div> 
    <div class='icon-div col-md-1 col-md-offset-1'> <img src='assets/icons/attack.png'></image> {{getWeapon.attackDamage}} </div> 
    <div class='icon-div col-md-1 col-md-offset-1'> <img src='assets/icons/defense.png'></image> {{getWeapon.attackDamage}} </div> -->
    </div>
  </li>
  <li class='row'>
    
  </li>
  <li class='row'>
    <h3>Armor Stats Stats<h3>
  </li>
  <li class = 'row'>
   
  </li>
</ul>
</div>
